.no-cursor {
    cursor: none;
}

.force-cursor {
    cursor: default !important;
}

.hidden {
    display: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    min-height : 100%;
    min-width : 100%;
  }
  .img-fluid { max-width: 100%; height: auto; }