.no-cursor {
    cursor: none;
}

.force-cursor {
    cursor: default !important;
}

.hidden {
    display: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }